@page "/"
@inherits ComponentBase

<section class="section">
    <div class="container">
        <h2 class="title is-4 mb-5">Examples</h2>
        <div class="columns is-multiline">
            @foreach (var example in Examples)
            {
                <div class="column is-4-desktop is-6-tablet">
                    <div class="card" style="height: 100%;">
                        <div class="card-content">
                            <div class="media mb-3">
                                <div class="media-left">
                                    <span class="icon is-large has-text-link">
                                        <span class="material-icons md-36">@example.Icon</span>
                                    </span>
                                </div>
                                <div class="media-content">
                                    <p class="title is-5 mb-0">@example.Title</p>
                                </div>
                            </div>
                            <div class="content">
                                @example.Description
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="@example.Url" class="card-footer-item has-text-link has-text-weight-semibold">View Example</a>
                        </footer>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
