@page "/"
@inherits ComponentBase

<TitleBlock Title="View Examples" UpdatePageTitle="true" />

<div class="columns is-1 is-variable is-multiline">
    <div class="column is-6-desktop is-4-fullhd is-2-4k">
        <button type="button" class="button is-fullwidth is-link py-5 m-2">
            <span class="material-icons icon">account_tree</span>
            <span>Basic Tree</span>
        </button>
    </div>
</div>
