<aside class="sidebar">
    <div class="sidebar-header">
        <img src="favicon.png" alt="Logo" class="logo" />
        <h1 class="sidebar-title">Blazor ApexTree</h1>
    </div>
    <nav class="sidebar-nav">
        <ul class="menu-list">
            <li>
                <a href="" class="menu-item">
                    <span class="material-icons">home</span>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="basic" class="menu-item">
                    <span class="material-icons">account_tree</span>
                    <span>Basic</span>
                </a>
            </li>
            <li>
                <a href="custom-template" class="menu-item">
                    <span class="material-icons">text_fields</span>
                    <span>Custom Template</span>
                </a>
            </li>
            <li>
                <a href="styled-nodes" class="menu-item">
                    <span class="material-icons">palette</span>
                    <span>Styled Nodes</span>
                </a>
            </li>
            <li>
                <a href="expand-collapse" class="menu-item">
                    <span class="material-icons">unfold_more</span>
                    <span>Expand / Collapse</span>
                </a>
            </li>
            <li>
                <a href="custom-tooltip" class="menu-item">
                    <span class="material-icons">chat_bubble_outline</span>
                    <span>Tooltip</span>
                </a>
            </li>
            <li>
                <a href="node-click" class="menu-item">
                    <span class="material-icons">mouse</span>
                    <span>Node Click</span>
                </a>
            </li>
            <li>
                <a href="dynamic-view" class="menu-item">
                    <span class="material-icons">swap_horiz</span>
                    <span>Dynamic View</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
