@page "/custom-tooltip"
@inherits ComponentBase


<section class="section">
    <div class="container">
        <h1 class="title is-3">Custom Tooltip</h1>
        <p class="subtitle is-6">Hover over nodes to see custom-styled tooltips with HTML templates.</p>

        <div class="box" style="padding: 0;">
            @if (ParentNode != null)
            {
                <ApexTree TItem="string" Parent="ParentNode" Options="Options" />
            }
        </div>
    </div>
</section>
